@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,100)
@import variables
@import ../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss
@import ../bower_components/font-awesome/scss/font-awesome.scss

header
  background: url(../images/header.png) no-repeat top / contain
  height: 700px
  .navbar-default
    background: transparent
    border: none
    border-radius: 0
    .navbar-brand
      height: auto
  .row
    margin: 200px 0
    & > div
      padding: 0
  .headline
    background: #4da049
    padding: 15px 20px 20px
    h1
      text-transform: uppercase
      color: #fff
      font-size: 3em
      letter-spacing: 3px
      margin: 0
      line-height: 1.2em
      strong
        display: block
        font-size: 1.6em
        font-weight: 900
    a
      color: #fff
      text-transform: uppercase
      font-size: 1em
      letter-spacing: 2px
      text-decoration: none
      display: block
      width: 130px
      text-align: center
      i
        display: block
        font-size: 6em
        margin-bottom: 5px

main
  padding: 30px 0
  h2
    text-align: center
    color: #2b3a8b
    font-size: 3em
    font-weight: 400
    margin-bottom: 80px
    strong
      display: block
      color: #52a352
  article
    margin-bottom: 50px
    h3
      color: #52a352
      text-transform: uppercase
      margin-bottom: 20px
      font-weight: 400
      span
        color: #2b3a8b
        display: block
    p
      line-height: 1.8em
      font-size: 1em
      margin-bottom: 5px
    a
      color: #52a352
      text-transform: uppercase
      font-weight: bold
    &.big
      h3
        margin-top: 0
        margin-bottom: 10px
        span
          display: inline-block
      p
        margin-bottom: 15px
      h4
        color: #52a352
        margin-top: 20px
      h5
        font-weight: bold
        margin-top: 20px
        margin-bottom: 10px
  .img-responsive
    margin-bottom: 30px
  .row
    margin: 30px 0 0

footer
  background: url(../images/footer.png) no-repeat top center #2b3a8b
  color: #fff
  padding-bottom: 80px
  text-align: center
  h4
    text-transform: uppercase
    font-weight: 500
    font-size: 1.3em
    color: #fff
    margin: 18px 0 80px
  h5
    text-transform: uppercase
  p
    line-height: 1.5em
  ul
    margin: 20px 0 40px
    list-style-type: none
    padding: 0
    li
      display: inline-block
      margin: 0 10px
    li a,
    li a:hover
      color: #fff
      font-size: 2em
